﻿@model Development.Models.SkillScore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SkillScore</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">scoreValue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.scoreValue)
    </div>

    <div class="display-label">minEfficiency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.minEfficiency)
    </div>

    <div class="display-label">minAbility</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.minAbility)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.order)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
