﻿@model IEnumerable<Development.Models.SkillScore>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            name
        </th>
        <th>
            scoreValue
        </th>
        <th>
            minEfficiency
        </th>
        <th>
            minAbility
        </th>
        <th>
            description
        </th>
        <th>
            order
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scoreValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minEfficiency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
