﻿@model Development.Models.Log

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Log</legend>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">hours</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hours)
    </div>

    <div class="display-label">unitsCompleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitsCompleted)
    </div>

    <div class="display-label">percentRework</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.percentRework)
    </div>

    <div class="display-label">percentCoaching</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.percentCoaching)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">employee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.employee.firstName)
    </div>

    <div class="display-label">skillLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skillLevel.name)
    </div>

    <div class="display-label">skill</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skill.name)
    </div>

    <div class="display-label">verifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.verifiedBy.firstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
