﻿@model Development.Models.Log

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Log</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hours)
            @Html.ValidationMessageFor(model => model.hours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unitsCompleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unitsCompleted)
            @Html.ValidationMessageFor(model => model.unitsCompleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.percentRework)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.percentRework)
            @Html.ValidationMessageFor(model => model.percentRework)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.percentCoaching)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.percentCoaching)
            @Html.ValidationMessageFor(model => model.percentCoaching)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.notes)
            @Html.ValidationMessageFor(model => model.notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employeeId)
            @Html.ValidationMessageFor(model => model.employeeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skillLevelId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.skillLevelId)
            @Html.ValidationMessageFor(model => model.skillLevelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skillId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.skillId)
            @Html.ValidationMessageFor(model => model.skillId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVerified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVerified)
            @Html.ValidationMessageFor(model => model.IsVerified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.verifiedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.verifiedById)
            @Html.ValidationMessageFor(model => model.verifiedById)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.verifiedUnitsCompletd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.verifiedUnitsCompletd)
            @Html.ValidationMessageFor(model => model.verifiedUnitsCompletd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.verifiedHours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.verifiedHours)
            @Html.ValidationMessageFor(model => model.verifiedHours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.projectId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.projectId)
            @Html.ValidationMessageFor(model => model.projectId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
