﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="../../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
        
        @helper Script(string scriptName, UrlHelper url)
        {
            <script src="@url.Content("~/" + scriptName)" type="text/javascript"></script>
        }

        @Script("Scripts/modernizr-1.7.min.js", Url)
        @Script("Scripts/jquery-1.7.2.min.js", Url)
        @Script("Scripts/jquery.unobtrusive-ajax.min.js", Url)
        @Script("Scripts/jquery-ui-1.8.20.min.js", Url)
        @Script("Content/js/bootstrap.min.js", Url)
        @Script("Content/js/Site.js", Url)
        @Script("Content/js/bootstrap-popover.js", Url)

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>

    </head>
    <body>
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @(Html.ActionLink("Employee Development", MVC.Home.Actions.Index(), new{@class="brand"}))
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="dropdown">  
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Employee <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li id="LogHours">@Html.ActionLink("Log Hours", MVC.EmployeeMenu.Actions.LogHours())</li>
                                    <li class="divider"></li>
                                    <li id="Verify">@Html.ActionLink("Verify Hours", MVC.EmployeeMenu.Actions.VerifyHours())</li>
                                </ul>
                            </li>    
                            <li class="dropdown">  
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Employee with Directs <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li id="Skill">@Html.ActionLink("Skill Achievement", MVC.EmployeeWithDirects.Actions.Index())</li>
                                    <li class="divider"></li>
                                    <li id="Rank">@Html.ActionLink("Rank Achievement", MVC.EmployeeWithDirects.Actions.RankAchievement())</li>
                                </ul>
                            </li>   
                            <li class="dropdown">  
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin CRUD <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Logs", MVC.LogCRUD.Actions.Index())</li>

                                    <li>@Html.ActionLink("Skill", "Index", "Skill")</li>

                                    <li>@Html.ActionLink("Skill Level Entry", "Index", "SkillLevelEntry")</li>

                                    <li>@Html.ActionLink("Skill Level", "Index", "SkillLevel")</li>

                                    <li>@Html.ActionLink("Employee", "Index", "Employee")</li>

                                    <li>@Html.ActionLink("Employee Position", "Index", "EmployeePosition")</li>

                                    <li>@Html.ActionLink("Rank", "Index", "Rank")</li>

                                    <li>@Html.ActionLink("Rank Rule", "Index", "RankRule")</li>

                                    <li>@Html.ActionLink("Achieved Rank", "Index", "AchievedRank")</li>

                                    <li>@Html.ActionLink("Achieved Skill", "Index", "AchievedSkill")</li>

                                    <li>@Html.ActionLink("Skill Score", "Index", "SkillScore")</li>

                                    <li>@Html.ActionLink("Project", "Index", "Project")</li>

                                    <li>@Html.ActionLink("Task", "Index", "Task")</li>

                                    <li>@Html.ActionLink("Verification", "Index", "Verification")</li>
                                </ul>
                            </li> 
                        </ul>

                        <div id="logindisplay" class="btn-group pull-right">
                            @Html.Partial("_LogOnPartial")
                        </div>
          
                    </div><!-- /.nav-collapse -->
                </div>
            </div>
            
        </header>
        
        <section class="container" id="main">
            
            @RenderBody()

            <hr />

            <footer>
                <p>© 2012 Snuffler. All Rights Reserved.</p>
            </footer>

        </section>

    </body>
</html>
