﻿@if (Request.IsAuthenticated)
{
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> @User.Identity.Name
        <span class="caret"></span>
    </a>
   <ul class="dropdown-menu">
        @*<li><a href="#">Profile</a></li>*@
        <li class="divider"></li>
        <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
    </ul>
}
else
{
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> Log In
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Log In", "LogOn", "Account")</li>
    </ul>
}