﻿@model Development.Models.Log
<table class="table table-striped table-bordered table-condensed" id="logresults">
    <tr>
        <th>
            Date
        </th>
        <th>
            Hours
        </th>
        <th>
            Units Completed
        </th>
        <th>
            Rework (%)
        </th>
        <th>
            Coaching (%)
        </th>
        <th>
            Notes
        </th>
        <th>
            Skill Level
        </th>
        <th>
            Skill
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.unitsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.percentRework)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.percentCoaching)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.skillLevelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.skillId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.verifiedById)
        </td>
    </tr>
    </table>