﻿@model Development.Models.LogViewModel

@if (Model.Logs.Any())
{
<table id="searchresults" class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            Date
        </th>
        <th>
            Task
        </th>
        <th>
            Hours
        </th>
        <th>
            Units Completed
        </th>
        <th>
            Units of Measurement
        </th>
        <th>
            Skill Level
        </th>
        <th>
            Rework
        </th>
        <th>
            Coaching
        </th>
        <th>
            Notes
        </th>
    </tr>

@foreach (var item in Model.Logs)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.unitOfMeasurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillLevel.description)
        </td>
        <td>
            @if (item.percentRework != null)
            {
                @Html.DisplayFor(modelItem => item.percentRework)@Html.DisplayText("%")
            }
        </td>
        <td>
            @if (item.percentCoaching != null)
            {
                @Html.DisplayFor(modelItem => item.percentCoaching)@Html.DisplayText("%")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
    </tr>
}
    <tr>
        <th></th>
        <th>Total</th>
        <th>@Model.TotalHours</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Model.PercentageRework%</th>
        <th>@Model.PercentageCocaching%</th>
        <th></th>
    </tr>
</table>
}
else
{
    <p>No hours logged</p>
}
