﻿@model IEnumerable<Development.Models.Log>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Date: @Html.TextBox("date")
        Employee ID: @Html.DropDownList("employeeId", String.Empty)
        <input type="submit" value="Update" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "AddHours")
</p>

<table>
    <tr>
        <th>
            date
        </th>
        <th>
            hours
        </th>
        <th>
            unitsCompleted
        </th>
        <th>
            percentRework
        </th>
        <th>
            percentCoaching
        </th>
        <th>
            notes
        </th>
        <th>
            employee
        </th>
        <th>
            skillLevel
        </th>
        <th>
            skill
        </th>
        <th>
            verifiedBy
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentRework)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentCoaching)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillLevel.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verifiedBy.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

Total Hours: @Html.Display("totalHours")
Percent Rework: @Html.Display("percentRework")
Percent Coaching: @Html.Display("percentCoaching")