﻿@model Development.Models.EmployeePosition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EmployeePosition</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">minRank</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.minRank)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.order)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.ranks)
    </div>
    <div class="display-field">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            @foreach (var item in Model.ranks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
               </tr>
            }
        </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
