﻿@model Development.Models.RankRule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>RankRule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.minScorePercentage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.minScorePercentage)
            @Html.ValidationMessageFor(model => model.minScorePercentage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.order)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.order)
            @Html.ValidationMessageFor(model => model.order)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skillLevelId, "skillLevel")
        </div>
        <div class="editor-field">
            @Html.DropDownList("skillLevelId", String.Empty)
            @Html.ValidationMessageFor(model => model.skillLevelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rankId, "rank")
        </div>
        <div class="editor-field">
            @Html.DropDownList("rankId", String.Empty)
            @Html.ValidationMessageFor(model => model.rankId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skillId, "skill")
        </div>
        <div class="editor-field">
            @Html.DropDownList("skillId", String.Empty)
            @Html.ValidationMessageFor(model => model.skillId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
