﻿@model Development.Models.RankRule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RankRule</legend>

    <div class="display-label">minScorePercentage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.minScorePercentage)
    </div>

    <div class="display-label">order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.order)
    </div>

    <div class="display-label">skillLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skillLevel.name)
    </div>

    <div class="display-label">rank</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rank.name)
    </div>

    <div class="display-label">skill</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skill.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
