﻿@model Development.Models.AchievedSkill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AchievedSkill</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">estEfficiency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EfficencyScore)
    </div>

    <div class="display-label">estAbility</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estAbility)
    </div>

    <div class="display-label">learnedElsewhere</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LearnedElsewhere)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">employee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.employee.firstName)
    </div>

    <div class="display-label">skill</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skill.name)
    </div>

    <div class="display-label">skillLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skillLevel.name)
    </div>

    <div class="display-label">skillScore</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skillScore.name)
    </div>

    <div class="display-label">approvedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovedBy.firstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
