﻿@model Development.Models.AchievedSkill

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>AchievedSkill</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EfficencyScore)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EfficencyScore)
            @Html.ValidationMessageFor(model => model.EfficencyScore)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estAbility)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estAbility)
            @Html.ValidationMessageFor(model => model.estAbility)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LearnedElsewhere)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LearnedElsewhere)
            @Html.ValidationMessageFor(model => model.LearnedElsewhere)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeId, "employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("employeeId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmployeeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SkillId, "skill")
        </div>
        <div class="editor-field">
            @Html.DropDownList("skillId", String.Empty)
            @Html.ValidationMessageFor(model => model.SkillId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SkillLevelId, "skillLevel")
        </div>
        <div class="editor-field">
            @Html.DropDownList("skillLevelId", String.Empty)
            @Html.ValidationMessageFor(model => model.SkillLevelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skillScoreId, "skillScore")
        </div>
        <div class="editor-field">
            @Html.DropDownList("skillScoreId", String.Empty)
            @Html.ValidationMessageFor(model => model.skillScoreId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApprovedById, "approvedBy")
        </div>
        <div class="editor-field">
            @Html.DropDownList("approvedById", String.Empty)
            @Html.ValidationMessageFor(model => model.ApprovedById)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
