﻿@model IEnumerable<Development.Models.AchievedSkill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            name
        </th>
        <th>
            date
        </th>
        <th>
            estEfficiency
        </th>
        <th>
            estAbility
        </th>
        <th>
            learnedElsewhere
        </th>
        <th>
            notes
        </th>
        <th>
            employee
        </th>
        <th>
            skill
        </th>
        <th>
            skillLevel
        </th>
        <th>
            skillScore
        </th>
        <th>
            approvedBy
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfficencyScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LearnedElsewhere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillLevel.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillScore.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
