﻿@model IEnumerable<Development.Models.AchievedSkill>

<h2>Previous Skills</h2>

<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            Date
        </th>
        <th>
            EfficencyScore
        </th>
        <th>
            LearnedElsewhere
        </th>
        <th>
            Notes
        </th>
        <th>
            Skill
        </th>
        <th>
            Skill Level
        </th>
        <th>
            skill Score
        </th>
        <th>
            Approved By
        </th>
        <th>
            Hours Since Last Skill Achievement
        </th>
        <th>
            PreviousAbility
        </th>
        <th>
            Curren tAbility
        </th>
        <th>
            Six Month Efficency Score
        </th>
        <th>
            Efficency Score Override
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfficencyScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LearnedElsewhere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillLevel.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillScore.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursSinceLastSkillAchievement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SixMonthEfficencyScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfficencyScoreOverride)
        </td>
    </tr>
}

</table>
