﻿@model Development.ViewModels.RankAchievementViewModel

@{
    ViewBag.Title = "RankAchievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<h2>Rank Achievement</h2>

<div class="row">
    @using (Html.BeginForm(MVC.EmployeeWithDirects.Actions.RankAchievement(), FormMethod.Post, new{@class=""}))
    {
        @Html.ValidationSummary(true)

        @Html.LabelFor(x => x.EmployeeId)
        @Html.DropDownListFor(x => x.EmployeeId, Model.Presenter.Employees, "Please Select")
        @Html.ValidationMessageFor(model => model.EmployeeId)

        @Html.LabelFor(x => x.SkillLevelId)
        @Html.DropDownListFor(x => x.SkillLevelId, Model.Presenter.SkillLevels, "Please Select")
        @Html.ValidationMessageFor(model => model.SkillLevelId)

        <p>
            <input type="submit" value="Get Ranks" />
        </p>
    }
</div>
