﻿@model IEnumerable<Development.Models.AchievedRank>

@{
    ViewBag.Title = "RecommendedRankAchievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recommended Rank Achievement</h2>

<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            Date
        </th>
        <th>
            Employee
        </th>
        <th>
            Rank
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rank.name)
        </td>

    </tr>
}

</table>
