﻿@model Development.ViewModels.SkillAchievementViewModel

<table class="table table-striped table-bordered table-condensed" >
    <tr>

        <th>
            Efficency Score
        </th>
        <th>
            Learned Elsewhere
        </th>
        <th>
            Hours Since Last Skill Achievement
        </th>
        <th>
            Previous Ability
        </th>
        <th>
            Current Ability
        </th>
        <th>
            Six Month Efficency Score
        </th>
        <th>
            Efficency ScoreOverride
        </th>
        <th>
            Skill Score
        </th>
        <th>
            Notes
        </th>
    </tr>

    <tr>

        <td>
            @Html.HiddenFor(x => x.AchievedSkill.SkillId)
            @Html.HiddenFor(x => x.AchievedSkill.SkillLevelId)
            @Html.HiddenFor(x => x.AchievedSkill.EmployeeId)
            @Html.HiddenFor(x => x.AchievedSkill.AssociatedLogs)

            @Html.DisplayFor(item => item.AchievedSkill.EfficencyScore)
            @Html.HiddenFor(x => x.AchievedSkill.EfficencyScore)
        </td>
        <td>
            @Html.CheckBoxFor(item => item.AchievedSkill.LearnedElsewhere)
        </td>
        <td>
            @Html.DisplayFor(item => item.AchievedSkill.HoursSinceLastSkillAchievement)
            @Html.HiddenFor(x => x.AchievedSkill.HoursSinceLastSkillAchievement)
        </td>
        <td>
            @Html.DisplayFor(item => item.AchievedSkill.PreviousAbility)
            @Html.HiddenFor(x => x.AchievedSkill.PreviousAbility)
        </td>
        <td>
            @Html.TextBoxFor(item => item.AchievedSkill.CurrentAbility, new { @class = "input-small" })
        </td>
        <td>
            @Html.DisplayFor(item => item.AchievedSkill.SixMonthEfficencyScore)
            @Html.HiddenFor(x => x.AchievedSkill.SixMonthEfficencyScore)
        </td>
        <td>
            @Html.TextBoxFor(item => item.AchievedSkill.EfficencyScoreOverride, new{@class="input-small"})
        </td>
        <td>
            @Html.DropDownListFor(x => x.AchievedSkill.skillScoreId, Model.Presenter.SkillScores, "Select", new{@class="input-small"})
        </td>
         <td>
            @Html.TextBoxFor(item => item.AchievedSkill.Notes)
        </td>
    </tr>

</table>
<input type="submit" value="Add Skill Achievement" />

@if(Model.PreviousSkills.Count > 0)
{
    {
        Html.RenderPartial(MVC.EmployeeWithDirects.Views.PreviousSkillsPartial, Model.PreviousSkills);
    }
}
