﻿@model Development.Models.SkillAchievementViewModel

<fieldset>
    <legend>AchievedSkillModel</legend>

    <div class="display-label">EmployeeId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AchievedSkill.EmployeeId)
    </div>

    <div class="display-label">SkillId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AchievedSkill.SkillId)
    </div>

    <div class="display-label">SkillLevelId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AchievedSkill.SkillLevelId)
    </div>

    <div class="display-label">HoursSinceLastSkillEntry</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AchievedSkill.HoursSinceLastSkillAchievement)
    </div>

    <div class="display-label">PreviousAbility</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AchievedSkill.PreviousAbility)
    </div>

    <div class="display-label">EfficencyScore</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AchievedSkill.EfficencyScore)
    </div>
</fieldset>
