﻿@model Development.Models.Employee

@{
    ViewBag.Title = "Register";
}

<h1>Register</h1>
<p>
    Use the form below to create a new user. 
</p>
<hr />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(MVC.Account.Actions.Register(), FormMethod.Post, new {@class="form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
    <div class="row">
    <div class="span6">
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(model => model.firstName)
            </div>
            <div class="control-field">
                @Html.EditorFor(model => model.firstName)
                @Html.ValidationMessageFor(model => model.firstName)
            </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="control-field">
            @Html.EditorFor(model => model.lastName)    
        </div>
        <div class="control-field">
            @Html.ValidationMessageFor(model => model.lastName)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="control-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="control-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="control-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
        </div>
        </div>

        <div class="span6">
        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.employedSince)
        </div>
        <div class="control-field">
            @Html.TextBoxFor(model => model.employedSince, new {@class="datepicker" })
            @Html.ValidationMessageFor(model => model.employedSince)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.hourlyPay)
        </div>
        <div class="control-field">
            @Html.EditorFor(model => model.hourlyPay)
            @Html.ValidationMessageFor(model => model.hourlyPay)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.defaultProjectId)
        </div>
        <div class="control-field">
            @Html.DropDownListFor(m => m.defaultProjectId, (List<SelectListItem>)ViewBag.Projects, "Please Select")
            @Html.ValidationMessageFor(model => model.defaultProjectId)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(m => m.employeePositionId)
        </div>
        <div class="control-field">
            @Html.DropDownListFor(m => m.employeePositionId, (List<SelectListItem>)ViewBag.Roles, "Please Select")
            @Html.ValidationMessageFor(m => m.employeePositionId)
        </div>
        </div>

        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.supervisorId)
        </div>
        <div class="control-field">
            @Html.DropDownListFor(m => m.supervisorId, (List<SelectListItem>)ViewBag.Supervisors, "Please Select")
            @Html.ValidationMessageFor(model => model.supervisorId)
        </div>
        </div>
        </div>
        </div>
        <hr />
        
        <div class="control-group">
        <div class="control-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="control-field">
            @Html.TextAreaFor(model => model.notes, new {@rows="6", @cols="700" })
            @Html.ValidationMessageFor(model => model.notes)
        </div>
        </div>

        <div class="form-actions">
            <input type="submit" value="Register" class="btn btn-large btn-primary"/>
        </div>
    </fieldset>
}

