﻿@model Development.Models.AchievedRank

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AchievedRank</legend>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">employee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.employee.firstName)
    </div>

    <div class="display-label">rank</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rank.name)
    </div>

    <div class="display-label">approvedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approvedBy.firstName)
    </div>

    <div class="display-label">verifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.verifiedBy.firstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
