﻿@model Development.Models.AchievedRank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AchievedRank</legend>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">employee</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.employee.firstName)
    </div>

    <div class="display-label">rank</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rank.name)
    </div>

    <div class="display-label">approvedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approvedBy.firstName)
    </div>

    <div class="display-label">verifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.verifiedBy.firstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
