﻿@model Development.Models.AchievedRank

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>AchievedRank</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.notes)
            @Html.ValidationMessageFor(model => model.notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.employeeId, "employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("employeeId", String.Empty)
            @Html.ValidationMessageFor(model => model.employeeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.rankId, "rank")
        </div>
        <div class="editor-field">
            @Html.DropDownList("rankId", String.Empty)
            @Html.ValidationMessageFor(model => model.rankId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.approvedById, "approvedBy")
        </div>
        <div class="editor-field">
            @Html.DropDownList("approvedById", String.Empty)
            @Html.ValidationMessageFor(model => model.approvedById)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.verifiedById, "verifiedBy")
        </div>
        <div class="editor-field">
            @Html.DropDownList("verifiedById", String.Empty)
            @Html.ValidationMessageFor(model => model.verifiedById)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
