﻿@model IEnumerable<Development.Models.AchievedRank>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            date
        </th>
        <th>
            notes
        </th>
        <th>
            employee
        </th>
        <th>
            rank
        </th>
        <th>
            approvedBy
        </th>
        <th>
            verifiedBy
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rank.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approvedBy.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verifiedBy.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
