﻿@model Development.Models.SkillLevelEntry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SkillLevelEntry</legend>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">numOfUnitsToMaster</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numOfUnitsToMaster)
    </div>

    <div class="display-label">avgHoursToMaster</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.avgHoursToMaster)
    </div>

    <div class="display-label">skill</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skill.name)
    </div>

    <div class="display-label">skillLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skillLevel.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
