﻿@model Development.Models.SkillLevelEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SkillLevelEntry</legend>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">numOfUnitsToMaster</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numOfUnitsToMaster)
    </div>

    <div class="display-label">avgHoursToMaster</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.avgHoursToMaster)
    </div>

    <div class="display-label">skill</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skill.name)
    </div>

    <div class="display-label">skillLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.skillLevel.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
