﻿@model IEnumerable<Development.Models.SkillLevelEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            description
        </th>
        <th>
            numOfUnitsToMaster
        </th>
        <th>
            avgHoursToMaster
        </th>
        <th>
            skill
        </th>
        <th>
            skillLevel
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numOfUnitsToMaster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avgHoursToMaster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillLevel.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
