﻿@model Development.Models.Verification

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Verification</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unitsCompleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unitsCompleted)
            @Html.ValidationMessageFor(model => model.unitsCompleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.notes)
            @Html.ValidationMessageFor(model => model.notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskId, "task")
        </div>
        <div class="editor-field">
            @Html.DropDownList("taskId", String.Empty)
            @Html.ValidationMessageFor(model => model.taskId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.verifiedById, "verifiedBy")
        </div>
        <div class="editor-field">
            @Html.DropDownList("verifiedById", String.Empty)
            @Html.ValidationMessageFor(model => model.verifiedById)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
