﻿@model Development.Models.Verification

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Verification</legend>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">unitsCompleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitsCompleted)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">task</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.task.notes)
    </div>

    <div class="display-label">verifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.verifiedBy.firstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
