﻿@model Development.Models.Verification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Verification</legend>

    <div class="display-label">date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">unitsCompleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitsCompleted)
    </div>

    <div class="display-label">notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.notes)
    </div>

    <div class="display-label">task</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.task.notes)
    </div>

    <div class="display-label">verifiedBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.verifiedBy.firstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
