﻿@using Development.Models
@using Development.ViewModels
@model Development.ViewModels.VerifyHoursModel
   
@{
    var total = Model.TotalVerifiedHours + Model.TotalNonVerifiedHours;
}        

<tr>
    <td>
        @String.Format("{0} {1}", Model.EmployeeFirstName, Model.EmployeeSurname)
    </td>
    <td>
        @Html.DisplayFor(modelModel => Model.ProjectName)
    </td>
    <td>
        @total
    </td>
    <td>
        @Html.DisplayFor(modelModel => Model.TotalRework)
    </td>
    <td>
        @Html.DisplayFor(modelModel => Model.TotalCoach)
    </td>
    <td>
        @if(Model.TotalVerifiedHours > 0)
        {
            @Html.ActionLink(Model.TotalVerifiedHours.ToString(), MVC.EmployeeMenu.Actions.VerifyHoursDetails(@Model.EmployeeId, @Model.DateFrom, @Model.DateTo, VerificationSearchType.VerifiedHours))
        }
        else
        {
            @Html.Label("N/A")
        }
    </td>
    <td>
        @if(Model.TotalNonVerifiedHours > 0)
        {
            @Html.ActionLink(Model.TotalNonVerifiedHours.ToString(), MVC.EmployeeMenu.Actions.VerifyHoursDetails(@Model.EmployeeId, @Model.DateFrom, @Model.DateTo, VerificationSearchType.NonVerifiedHours))
        }
        else
        {
            @Html.Label("N/A")
        }
    </td>
</tr>

@*<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours'],
                ['Verified', @Model.TotalVerifiedHours],
                ['Non-Verified', @Model.TotalNonVerifiedHours]
            ]);

        var options = {
            legend: {position: 'none'}
        };

        var chart = new google.visualization.PieChart(document.getElementById('@Model.EmployeeId'));
        chart.draw(data, options);
    }
    
</script>*@


