﻿@model IEnumerable<Development.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            firstName
        </th>
        <th>
            lastName
        </th>
        <th>
            username
        </th>
        <th>
            password
        </th>
        <th>
            email
        </th>
        <th>
            employedSince
        </th>
        <th>
            hourlyPay
        </th>
        <th>
            notes
        </th>
        <th>
            defaultProject
        </th>
        <th>
            employeePosition
        </th>
        <th>
            supervisor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employedSince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hourlyPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.defaultProject.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeePosition.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supervisor.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
