﻿@model Development.Models.LogViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Tasks</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="row">
    
    @using (Html.BeginForm(MVC.Log.Actions.Create(), FormMethod.Post, new{@class="form-inline", @id="frmLogHours"}))
    {
        @Html.ValidationSummary(true)
        <p>
            @Html.Label("Date: ")
            @Html.TextBox("date", null, new { @class = "datepicker required" })
        </p>
        <hr />
        <input type="hidden" id="hdnRows" name="hdnRows" value="1"/>
        
        <table class="table table-striped table-condensed">
            <tr>
                <th>
                    <a href="#" class="helpPopover" rel="popover" title="Skill" data-content="This is the detailed information about this particular task and sub tasks.">Skills</a>
                </th>
                <th>
                    Hours
                </th>
                <th id="unitHeader">
                    <a href="#" class="helpPopover" rel="popover" title="Units Completed" data-content="How many UNITS did you complete personally?">Units Completed</a>
                </th>
                <th>
                    <a href="#" class="helpPopover" rel="popover" title="Skill Level" data-content="Which description most closely matches the work you did for this task?">Skill Level</a>
                </th>
                <th>
                    Rework (%)
                </th>
                <th>
                    Coaching (%)
                </th>
                <th>
                    Notes
                </th>
            </tr>
            <tr id="input1" class="clonedInput">
                <td>
                    @Html.DropDownList("skill1", Model.Presenter.Skills, "Select", new { @class = "skill required" })
                    <label for="skill1"></label>
                </td>
                <td>
                    <input type="text" name="hour1" id="hour1" class="hours input-small required number" />
                    <label for="hour1"></label>
                </td>
                <td>
                    <input type="text" name="unit1" id="unit1" class="units input-small digits"/>
                </td>
                <td>
                    @Html.DropDownList("skilllevel1", Model.Presenter.SkillLevels, "Select", new { @class = "skilllevels input-small required" }) 
                    <label for="skilllevel1"></label>
                </td>
                <td>  
                    <input type="text" name="rework1" id="rework1" class="rework input-small digits range:[0,100]"/>
                </td>
                <td>
                    <input type="text" name="coaching1" id="coaching1" class="coaching input-small digits range:[0,100]"/>
                </td>
                <td>
                    @Html.TextArea("Note1", new { @class = "notes" })
                </td>
            </tr>
        </table>

        <div>
            <input type="button" id="btnAdd" class="btn" value='Add another task >>' />   
            <input type="button" id="btnDel" value="Remove" class="btn" />
            <span class="pull-right">
                <input type="submit" class="btn btn-large btn-primary" value="Submit" /> 
                @Html.ActionLink("Back to Hours", MVC.Log.Actions.Index())
            </span>
        </div>
    }
   
</div>

<script>
    $("#frmLogHours").validate();
</script>
