﻿@model Development.ViewModels.LogViewModel

@if (Model.Logs.Any())
{
<table id="searchresults" class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            Date
        </th>
        <th>
            Task
        </th>
        <th>
            Hours
        </th>
        <th>
            Units Completed
        </th>
        <th>
            Units of Measurement
        </th>
        <th>
            Skill Level
        </th>
        <th>
            Rework
        </th>
        <th>
            Coaching
        </th>
        <th>
            Notes
        </th>
        <th>
            Verified?
        </th>
        <th>
            Verified By
        </th>
    </tr>

@foreach (var item in Model.Logs)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skill.unitOfMeasurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skillLevel.description)
        </td>
        <td>
            @if (item.percentRework != null)
            {
                @Html.DisplayFor(modelItem => item.percentRework)@Html.DisplayText("%")
            }
        </td>
        <td>
            @if (item.percentCoaching != null)
            {
                @Html.DisplayFor(modelItem => item.percentCoaching)@Html.DisplayText("%")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
           
            @if(item.verifiedById != null)
            {
                @Html.Label("Yes")
            }
            else
            {
                @Html.Label("No")
            }
        </td>
        <td>
            @if(item.verifiedById != null)
            {
               @Html.Label(String.Format("{0} {1}", item.verifiedBy.firstName, item.verifiedBy.lastName))
            }
        </td>
    </tr>
}
    <tr>
        <th></th>
        <th>Total</th>
        <th>@Html.DisplayFor(x => Model.TotalHours)</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Html.DisplayFor(x => Model.PercentageRework)%</th>
        <th>@Html.DisplayFor(x => Model.PercentageCocaching)%</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>
}
else
{
    <p>No hours logged</p>
}
