﻿@model Development.ViewModels.VerifyHoursDetailModel

@{
    ViewBag.Title = "VerifyHoursDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Logs[0].employee.fullName - 
    @if(Model.IsVerified)
    {
        @String.Format("Verified Hours")
    }
    else
    {
        @String.Format("Non-Verified Hours")
    }
</h2>
<br/>

@using (Html.BeginForm())
{
    <table class="table table-striped table-bordered table-condensed" >
        <tr>
            <th>
                Date
            </th>
            <th>
                Hours
            </th>
            <th>
                Units Completed
            </th>
            <th>
                Rework %
            </th>
            <th>
                Coaching %
            </th>
            <th>
                Notes
            </th>
            <th>
                Skill Level
            </th>
            <th>
                Skill
            </th>
            <th>
                Is Verified
            </th>
            <th>
                Verified By
            </th>
            <th>
                Verified Units Completed
            </th>
        </tr>

        @for (var x = 0; x < Model.Logs.Count(); x++)
        {
            @Html.EditorFor(item => item.Logs[x])
        }
       

    </table>

    <div>
        <span> 
            <input type="submit" class="btn btn-primary btn-large" value="Update" /> 
        </span>
        <div id="checkAll" class="btn btn-info btn-small">Select All</div>
        <div id="unCheckAll" class="btn btn-danger btn-small">UnSelect All</div>
    </div>
}
