﻿@model Development.ViewModels.VerifyHoursViewModel

<div id="results">
    
    @if (Model.VerifyHoursSearch != null)
        {
        @Html.HiddenFor(modelItem => modelItem.VerifyHoursSearch.DateFrom)
        @Html.HiddenFor(modelItem => modelItem.VerifyHoursSearch.DateTo)
        @Html.HiddenFor(modelItem => modelItem.VerifyHoursSearch.EmployeeSearchType)
        }
  
    <table class="table table-striped table-bordered table-condensed" >
        <tr>
            <th>
                Name
            </th>
            <th>
                Project
            </th>
            <th>
                Total Hours
            </th>
            <th>
                Total Rework %
            </th>
            <th>
                Total Coaching %
            </th>
            <th>
                Total Verified Hours
            </th>
            <th>
                Total Non-Verified Hours
            </th>
        </tr>

        @for (var x = 0; x < Model.Hours.Count(); x++)
        {
            @Html.EditorFor(item => item.Hours[x])
        }

    </table>
   
</div>
