﻿@model Development.ViewModels.VerifyHoursViewModel
@using Development.Models

@{
    ViewBag.Title = "VerifyHours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Verify Hours</h2>

@using (Html.BeginForm(MVC.EmployeeMenu.Actions.SearchVerifyHours(), FormMethod.Post, new { @class = "form-inline well" }))
{
    @Html.ValidationSummary(true)

    @Html.LabelFor(model => model.VerifyHoursSearch.DateFrom)
    @Html.TextBoxFor(model => model.VerifyHoursSearch.DateFrom, new { @class = "datepicker input-small" })
    @Html.ValidationMessageFor(model => model.VerifyHoursSearch.DateFrom)

    @Html.LabelFor(model => model.VerifyHoursSearch.DateTo)
    @Html.TextBoxFor(model => model.VerifyHoursSearch.DateTo, new { @class = "datepicker input-small" })
    @Html.ValidationMessageFor(model => model.VerifyHoursSearch.DateTo)
        
    //@Html.RadioButtonForEnum(x => x.VerifyHoursSearch.EmployeeSearchType)

    <input type="submit" value="Search" />
}


<div id="results">
        
    @{ Html.RenderPartial(MVC.EmployeeMenu.Views.VerifyHoursPartial, Model); }

</div>




