﻿@model Development.ViewModels.SkillsTaskTreeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task Index (Grouped by Skill)</h2>

@foreach (var x in Model.SkillTasksTree)
{
    <hr />
    <h3>@x.SkillNode.indentedName   
        <small>(<strong>Tree Info:&nbsp;</strong> 
    
        @if (x.SkillNode.parentId != null)
        {
            <span>Parent = @x.SkillNode.parent.name, Child Order = @x.SkillNode.orderId &nbsp;</span>
        }
        else
        {
            <strong>++ Top level skill ++ &nbsp;</strong>
        }
        
        )</small>
    </h3>
    <div class="span12">

        @if (x.SkillTasks.Any())
        {        
            <a class="label label-info" href="#" onclick="showTasks('@(string.Format("#skill{0}", x.SkillNode.id))'); return false;"> view tasks [@x.SkillNode.tasks.Count()]</a>
            <br style="clear:both;" />
            <div class="tasks well" id="@(string.Format("skill{0}", x.SkillNode.id))" >
                <ul>
        
                @foreach (var task in x.SkillTasks)
                {
                    <li><strong>@task.project.name</strong>: @task.name <br />@task.notes</li>
                }

                </ul>  
            </div> 
        }
        else
        {
            <span class="badge">n/a</span>
        }
    </div>
    
    <br style="clear:both;" />
}

<hr />

<br /><br />

<div class="well span5">
<h3>Skill Tree Structure</h3>
@foreach (var x in Model.SkillTasksTree)
{    
   <br />@x.SkillNode.indentedName.Replace("-", "- - ")
}

</div>

<div class="well span5">
<h3>Skills Drop Down: </h3>
@Html.DropDownList("skill", Model.SkillsSelector, "Select: -")

</div>

<div class="clearfix"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".tasks").hide();
    });

    function showTasks(skill) {
        //alert(skill.toString());
        $(skill).toggle('fast');
    }
</script>
