﻿@model Development.Models.Skill

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Skill</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unitOfMeasurement)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unitOfMeasurement)
            @Html.ValidationMessageFor(model => model.unitOfMeasurement)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.individualistic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.individualistic)
            @Html.ValidationMessageFor(model => model.individualistic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.holisitic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.holisitic)
            @Html.ValidationMessageFor(model => model.holisitic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.orderId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.orderId)
            @Html.ValidationMessageFor(model => model.orderId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.parentId, "parent")
        </div>
        <div class="editor-field">
            @Html.DropDownList("parentId", String.Empty)
            @Html.ValidationMessageFor(model => model.parentId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
