﻿@model Development.Models.Skill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Skill</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">unitOfMeasurement</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitOfMeasurement)
    </div>

    <div class="display-label">individualistic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.individualistic)
    </div>

    <div class="display-label">holisitic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.holisitic)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderId)
    </div>

    <div class="display-label">parent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.parent.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
