﻿@model IEnumerable<Development.Models.Skill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            name
        </th>
        <th>
            unitOfMeasurement
        </th>
        <th>
            individualistic
        </th>
        <th>
            holisitic
        </th>
        <th>
            description
        </th>
        <th>
            order
        </th>
        <th>
            parent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @for(int i = 0; i < item.numOfAncestors(); i++) {<text>--</text>}
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitOfMeasurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.individualistic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.holisitic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
