﻿@model Development.Models.Task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Task</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.scheduledHours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.scheduledHours)
            @Html.ValidationMessageFor(model => model.scheduledHours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numOfUnits)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numOfUnits)
            @Html.ValidationMessageFor(model => model.numOfUnits)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.notes)
            @Html.ValidationMessageFor(model => model.notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.projectId, "project")
        </div>
        <div class="editor-field">
            @Html.DropDownList("projectId", String.Empty)
            @Html.ValidationMessageFor(model => model.projectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skillId, "skill")
        </div>
        <div class="editor-field">
            @Html.DropDownList("skillId", String.Empty)
            @Html.ValidationMessageFor(model => model.skillId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
