﻿@model IEnumerable<Development.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-condensed" >
    <tr>
        <th>
            skill
        </th>
        <th>
            scheduledHours
        </th>
        <th>
            numOfUnits
        </th>
        <th>
            notes
        </th>
        <th>
            project
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @for(int i = 0; i < item.skill.numOfAncestors(); i++) {<text>--</text>}
            @Html.DisplayFor(modelItem => item.skill.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scheduledHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numOfUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
